[file location]
data = C:\NLP project\projectconfigs\personal_statements.csv

[columnheaders]
column_headers= "POSTCODE, PERSONAL_STATEMENT, APPLICATION_CREATED, STATEMENT_UPDATED"

[Rename column headers]
Postcode = POSTCODE
PersonalStatements = PERSONAL_STATEMENT
month/year = APPLICATION_CREATED
time_updated = STATEMENT_UPDATED


[Columns for keyword extraction]
statements = df['PersonalStatements']
post_code =df['Postcode']
month_year = df['month/year'].dt.strftime('%m/%Y')
time= df['time_updated'].dt.time

[Parameters]
#for yake custom keyword extractor
language = "en"
max_ngram_size = 3
deduplication_thresold = 0.9
deduplication_algo = 'seqm'
windowSize = 1
numOfKeywords = 100

#Wordcloud visualization 
max_words=100
background_color="white"
figsize=(8,8)
facecolor='w'







